<?xml version="1.0"?>
<robot name="robot_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/robot_materials.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/robot_arm.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/robot_gripper.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/robot_ros2_control.xacro"/>
  
</robot>